<!-- user.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>{{ user[0] }}</title>
  </head>
  <body>
    <h1>{{ user[1] }}</h1>
    <ul>
      <li><strong>Age:</strong> {{ user[2] }}</li>
      <li><strong>Branch:</strong> {{ user[3] }}</li>
      <!-- <li><strong>Batch:</strong> {{ user[3] }}</li> -->
      <li><strong>Language:</strong> {{ user[4] }}</li>
      <li><strong>Hobbies:</strong> {{ user[5] }}</li>
      <li><strong>Sleep:</strong> {{ user[6] }}</li>
      <li><strong>About:</strong> {{ user[7] }}</li>
      <li><strong>Contact:</strong> {{ user[8] }}</li>
    </ul>
  </body>
</html>
